---
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
import Button from "../components/button.astro";
---

<Layout title="Yash Kumar">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hello, I'm Yash!
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          I'm a Data science major @ Indian Institute of Technology, Madras. <br
            class="hidden lg:block"
          />
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          My Areas of Interest:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Data Science</li>
          <li>Software Development</li>
          <li>Machine Learning</li>
          <li>and more...</li>
        </ul>
        <Button
          text="LinkedIn"
          link="https://www.linkedin.com/in/yashkc2025/"
        />
        <Button text="GitHub" link="https://www.github.com/yashkc2025/" />
      </div>
    </div>
  </div>

  <Separator text="Check out my projects" />
  <Projects />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>
